<table *ngIf="reservations && reservations.length" class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Start time</th>
            <th>End time</th>
            <th>Court name</th>
            <th>Client name</th>
            <th>Coach name</th>
            <th>Cost (€)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let r of reservations">
            <td>{{ r.id }}</td>
            <td>{{ r.start | date : 'short' }}</td>
            <td>{{ r.end | date : 'short' }}</td>
            <td>{{ r.courtName }}</td>
            <td>{{ r.clientName }}</td>
            <td>{{ r.coachName }}</td>
            <td>{{ r.cost }}</td>
            <td><a [routerLink]="['/reservations']" (click)="delete(r.id)"class = "btn btn-primary">Delete reservation</a></td>
        </tr>
    </tbody>
</table>