<div class="row  mb-3 mt-3">
    <div class="col-md-4">
        <div class="input-group" >
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">Start time</span>
            </div>
            <input type="datetime-local" class="form-control"  [(ngModel)]= 'start' aria-label="Starttime" aria-describedby="basic-addon1">
        
        </div>
    </div>

    <div class="col-md-4">
        <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">End time</span>
            </div>
            <input type="datetime-local" class="form-control" [(ngModel)]= 'end' aria-label="endtime" aria-describedby="basic-addon1">
        </div>
    </div>

    <div class="col-md-4">
        <button class="btn btn-primary" (click)="filterReservations()">Filter</button>
        <button class="btn btn-primary ml-2" (click)="clearFilter()">Clear</button>
    </div>
</div>

<table *ngIf="reservations && reservations.length" class="table table-striped">
    <thead class="table-dark">
        <tr>
            <th>Id</th>
            <th>Start time</th>
            <th>End time</th>
            <th>Court name</th>
            <th>Client name</th>
            <th>Cost (€)</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let r of reservations">
            <td>{{ r.id }}</td>
            <td>{{ r.start | date : 'short' }}</td>
            <td>{{ r.end | date : 'short' }}</td>
            <td>{{ r.courtName }}</td>
            <td>{{ r.clientName }}</td>
            <td>{{ r.cost }}</td>
            <td><a [routerLink]="['/reservations']" (click)="delete(r.id)"class = "btn btn-primary">Delete reservation</a></td>
            <td><a [routerLink]="['/reservations', r.id]" class = "btn btn-primary">Update reservation</a></td>
        </tr>
    </tbody>
</table>

<button [routerLink]="['/reservations-new']" class="btn btn-success">Add Reservation</button>